body {
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    margin: 2%;
    padding: 1%;
}

header {
    background-color: #b4b4b4;
    background-image: url("../images/flywheel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    color: #ffffff;
    font-size: 150%;
    text-align: center;
    padding: 15px;
}

h2 {
    color: #050c72;
}

nav{
	font-family: "Times New Roman", Arial, serif;
    font-size: 110%;
    padding-left: 5px;
}

nav>a{
	display: inline-block;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 12px;
    color: #000000;
    margin: 15px;
    width: 12%;
    padding: 18px;
    text-align: center;
    font-size: 120%;
    text-decoration: none;

}

nav>a.active {
    background-color: rgb(255, 255, 255, 1);
}

main {
    display: inline-block;
    font-size: 110%;
}

.left {
    background-color: #5a6400e5;
    float: left;
    width: 15%;
    height: 100%;
}

.left img {
    width: 80%;
    height: 175px;
    margin: 8%;
    padding: 1px;
    border: 2px solid black;
}

section {
    margin-left: 16%;
}

.right {
    background-color: #ffffff;
}

table {
    font-family: sans-serif, Helvetica, Arial, "Times New Roman";
    font-weight: normal;
    font-size: 110%;
    line-height: 110%;
    width: 80%;
    margin: 0 auto;
}

tr {
    opacity: 0.8;
    text-align: center;
}

tr:hover tr:first-child {
    opacity: 1;
}

th {
    background-color: #54680c;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    border-color: #54680c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-width: thick;
    border-bottom-style: solid;
    border-bottom-color: #54680c;
    background-image: linear-gradient(#54680c, #b2e63b);
}

td:first-child {
    text-align: left;
}

td {
    border-radius: 2px;
    background-color: #ceeb8b;
    padding: 5px;
    color: #0c0404;
    text-shadow: 2px 2px 8px #1f0e0e;
}


